<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/style.css">
</head>

<title>
	Weather Application
</title>

<body>
	<section class="title_card">
		<div>
			<h1>
				Weather App
			</h1>
			<p>
				What's the weather like?
			</p>
		</div>
	</section>

	<section class="weather_input">
		<div>
			<form method="POST">
				<label for="city-name">Enter city name:</label><br/>
				<input type="text" placeholder="City name" name="city"><br/>
				<input type="submit" value="Submit">
				
				<div class="notification is-danger">
				  <button class="delete"></button>
				  	error message
				</div>
			</form>
		</div>
	</section>

	<section class="container">
		{% for weather in weather_data %}
		<div class="box">
			<article class="media">
				<div class="media-left">
					<img src='http://openweathermap.org/img/w/{{ weather.icon }}.png' alt="sky-image">
				</div>
				<div class="media-content">
					<p>
						<span class="city">{{ weather.city }}</span>
						<br>
						<span class="temp">Current temp: {{ weather.temperature }} °F </span>
						<br>
						<span class="humidity">Humidity: {{ weather.humidity }}%</span>
						<br>
						{{ weather.description }}
					</p>
				</div>	
			</article>
		</div>
		{% endfor %}
	</section>






</body>


</html>
